<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Exam Study Tool</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/s_index.css" rel="stylesheet">
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Exam Study Tool</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="border-left: 1px solid darkgray; " id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <!-- <li class="nav-item active">
                            <a class="nav-link" style="padding-left: 15px;" aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left: 15px;" aria-current="page" href="#features">FEATURES</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left: 15px;" aria-current="page" href="about">ABOUT</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" style="padding-left: 15px;" aria-current="page" href="#stats">STATISTICS</a>
                        </li> -->
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/auth/google">Login / Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main style="background-color: #F1F1F7;">

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="/images/index1_3.png"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" /></img>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="p1">Translate Preparation into Achievement</h1>
                          <p class="p1">The Exam Study Tool gives students equal opportunity to practice Algebra I, Algebra II and Geometry New York State Regents Exam questions in languages they understand best.</h5></p>
                            <p><a class="btn btn-lg btn-primary" href="/auth/google">Get Started</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container marketing" id="features">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="width:400px; border-color: #F1F1F7;">
                        <img class="card-img-top" src="/images/Education-Isometric-Illustration.jpg"
                            alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">LEARNING</h4>
                            <p class="card-text" style="min-height: 216px;">The New York State Regents Exams are offered in multiple languages, but English Language Learners do not have adequate opportunity to practice for these exams in their home language. The Exam Study Tool fixes that. Students choose their language and view each question in English and their home language.</p>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="card" style="width:400px; border-color: #F1F1F7;">
                        <img class="card-img-top" src="/images/assessment.png" alt="Card image"
                            style="width:100%; height: 300px;">
                        <div class="card-body">
                            <h4 class="card-title">ASSESSMENTS</h4>
                            <p class="card-text" style="min-height: 216px;">Filter through the Regents Exams to assign students questions from a specific exam, the season of the exam, a topic on the exam or a standard on the exam. This is useful for formative or summative assessments after a unit or use the “timed assignment” feature to replicate the Regents Exam setting.</p>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="card" style="width:400px; border-color: #F1F1F7;">
                        <img class="card-img-top" src="/images/dash.png" alt="Card image"
                            style="width:100%; height:300px;">
                        <div class="card-body">
                            <h4 class="card-title">PERFORMANCE DASHBOARD</h4>
                            <p class="card-text"style="min-height: 216px;">Elevate your preparation for the New York State Math Regents Exams with a comprehensive overview of your progress. Track your scores from a variety of practice tests and tests assigned by your teacher. Delve into your performance trends with insightful graphs, identify your strengths and areas for improvement, and tailor your study plan to achieve success.</p>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
        <div style="background-color:white; align-content: center;" id="about">

            <!-- START THE FEATURETTES -->

<!-- 
            <div class="row featurette">
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <h2 class="featurette-heading fw-normal lh-1">About <span class="text-muted">Regent's Study
                            Tool</span></h2>
                    <p></p>
                    <p class="lead">The goal of this project is to create a comprehensive, user-friendly study platform for students being administered the New York State Math Regent Examinations. Designed for all students this website aims to equip students with the necessary tools and resources to excel in Algebra I, Algebra II and Geometry. By providing problems from past Regent Exams, students have an authentic opportunity to practice for their Exams. English Language Students have the opportunity to practice questions in their home language whilst viewing the English version of the question. Performance tracking will help students and teachers monitor progress and identify areas of weakness. The Exam Study Tool aims to empower students to reach their full potential and achieve proficiency in these important exams.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" src="/images/about.png" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /></img>
                </div>
            </div> -->
        </div>

        <div id="stats" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="active">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="/images/index_pic22.png"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" /></img>
                    <div class="container">
                        <div class="carousel-caption">

                            <div class="row">
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;"><%= teachers %></p>
                                    <h4 class="card-title">TEACHERS</h4>

                                </div><!-- /.col-lg-4 -->
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;"><%= students %></p>
                                    <h4 class="card-title">STUDENTS</h4>
                                </div><!-- /.col-lg-4 -->
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;"><%= translations %></p>
                                    <h4 class="card-title">TRANSLATIONS</h4>

                                </div><!-- /.col-lg-4 -->
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;"><%= courses %></p>
                                    <h4 class="card-title">COURSES</h4>

                                </div><!-- /.col-lg-4 -->
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;"><%= questions %></p>
                                    <h4 class="card-title">QUESTIONS</h4>

                                </div><!-- /.col-lg-4 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="featurette-divider" style="margin-bottom: 0px;">
        </div>
        <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </main>

        <div class="border-top" style="background-color: white; padding-bottom: 1.5rem;">
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3" style="margin-top: 1.5rem">
                    <p class="col-md-4 mb-0 text-muted">&copy; Exam Study Tool © 2023</p>
        
                    <ul class="nav col-md-4 justify-content-end">
                        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms and Conditions</a></li>
                    </ul>
                </footer>
            </div>
        </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
    const navbarItems = document.querySelectorAll(".nav-item");

    navbarItems.forEach(item => {
        item.addEventListener("click", function () {
            navbarItems.forEach(i => i.classList.remove("active"));
            this.classList.add("active");
        });
    });
</script>
</body>

</html>