<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Regent's Study Tool</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/s_index.css" rel="stylesheet">
    <link href="/css/s_learning_topics.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/student">Exam Study Tool</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="border-left: 1px solid darkgray; " id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left: 15px;" aria-current="page" href="/student">HOME</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle " href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">LEARNING</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/student/learning/topic">TOPICS</a></li>
                                <li><a class="dropdown-item" href="/student/learning/archive">TEST ARCHIVE</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">ASSESSMENT</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/student/assessment/assigned">ASSIGNED BY TEACHER</a>
                                </li>
                                <li><a class="dropdown-item" href="/student/assessment/tests">PRACTICE TESTS</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/student/profile"><i
                                    style="padding-right: 4px;" class="fa fa-user"></i><%= user.user_name %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main style="min-height: 75vh; background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);">
        <div class="container">
            <h3 class="display-5 text-center text-capitalize" style="padding: 20px; font-weight:350">
                TOPICS</h3>

            <form>
                <div class="row row-cols-auto" style="justify-content: center;">
                    <label for="course" class="col col-form-label">Course:</label>
                    <div class="col-lg-2">
                        <select id="course" name='course' class='form-select'>
                            <% courses.forEach(function(course) { %>
                                <% if (course === selectedCourse) { %>
                                  <option value='<%= course %>' selected><%= course %></option>
                                <% } else { %>
                                  <option value='<%= course %>'><%= course %></option>
                                <% } %>
                            <% }); %>                     
                        </select>
                    </div>
                    <div class="col">
                        <button id="search" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>

            <div class="row">
                <% topics.forEach(function(topic, index) { %>
                    <div class="col-lg-6">
                    <!--card layouts-->
                    <div class="card <%= index % 2 === 0 ? '' : 'green' %>">
                        <div class="additional">
                            <div class="user-card">
                                <div class="level center">
                                    <p><%= topic %></p>
                                </div>
                                <a href="/student/learning/topic/<%= topic %>" class="points center">
                                    click here for</br>
                                    all chapters
                                </a>
                            </div>
                            <div class="more-info">
                                <h2>Chapters</h2>
                                <div class="coords text-center">
                                    <% if (subTopicsByTopic[topic].length <= 8) { %>
                                        <% subTopicsByTopic[topic].forEach(function(subTopic) { %>
                                            <a href="/student/learning/topic/<%= topic %>/<%= subTopic %>" class="list-group-item">
                                                <%= subTopic %>
                                            </a>
                                        <% }); %>
                                    <% } else { %>
                                        <div class="row"  style="margin-right: 0;">
                                            <div class="col-md-6">
                                                <% for (var i = 0; i < Math.ceil(subTopicsByTopic[topic].length / 2); i++) { %>
                                                    <a href="/student/learning/topic/<%= topic %>/<%= subTopicsByTopic[topic][i] %>" class="list-group-item">
                                                        <%= subTopicsByTopic[topic][i] %>
                                                    </a>
                                                <% } %>
                                            </div>
                                            <div class="col-md-6">
                                                <% for (var i = Math.ceil(subTopicsByTopic[topic].length / 2); i < subTopicsByTopic[topic].length; i++) { %>
                                                    <a href="/student/learning/topic/<%= topic %>/<%= subTopicsByTopic[topic][i] %>" class="list-group-item">
                                                        <%= subTopicsByTopic[topic][i] %>
                                                    </a>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="general">
                            <h1 class="card-title text-center"><%= topic %></h1>
                            <span class="more">Mouse over the card for chapters</span>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            </div>
    
    </main>

    <div class="border-top" style="background-color: white; padding-bottom: 1.5rem;">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3" style="margin-top: 1.5rem">
                <p class="col-md-4 mb-0 text-muted">&copy; Exam Study Tool © 2023</p>
    
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/student" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms and Conditions</a></li>
                </ul>
            </footer>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>