<!DOCTYPE html>
<html lang="en">
  <%- include('t_head.ejs') %>

<body >
      <style>
              .select2-container {
                  z-index: 99999;
              }
              

      </style>
    <style>
      body{
        background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
        
      }

    </style>
      
      <script>
              $(document).ready(function () {
                $('.select2').select2();
                  var table = $('#example').dataTable({
                      order: [[0, 'asc']],
                      
                  });
                 
              });
             
              var values = JSON.parse('<%- JSON.stringify(values) %>');
              
                          function checkClassName() {
              const className = document.getElementById("classname1").value;
              const createButton = document.getElementById("createclass");
             
             
              let classExists = false;

                // Check if the class name exists in the values object
                for (const key in values) {
                  if (values.hasOwnProperty(key) && values[key][0] === className) {
                    classExists = true;
                    break;
                  }
                }

                if (classExists) {
                  // The class name exists in the values object
                  alert(`The Class Name ${className} already exists. \nPlease give an another Class Name.`);
                  createButton.classList.add("disabled");
                } else {
                  // The class name does not exist in the values object
                  console.log("Class name does not exist");
                  createButton.classList.remove("disabled");
                }
            }

        </script>

        
<header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Exam Study Tool</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="border-left: 1px solid darkgray; " id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item active">
                            <a class="nav-link " style="padding-left: 15px; color: blue;" aria-current="page" href="/teacher">Class</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " style="padding-left: 15px;" aria-current="page" href="/teacher/questions">Questions</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/teacher/status" >Status</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="/teacher/profile"><i
                                  style="padding-right: 4px;" class="fa fa-user"></i><%= user.user_name %></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/">LOGOUT</a>
                      </li>
                  </ul>
              </div>
            </div>
        </nav>
        <br>
</header>
<!-- <h3>Top</h3> -->
<div class="container-xl">
    <div class="row">
        <div class="col shadow p-3 mb-5 bg-white rounded">
           <h4 style="text-align:center;">Class Information</h4><br><br>
         <!-- Create Class -->
         <div class="row">
            <div class="col-12 text-center"> 
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Create Class
                </button>
            </div>
          </div>
          <!-- Create Class -->
          <br>
          <!-- Table -->
          <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="example" class="display compact center" style="width:100%">
              
                          <thead >
                                <tr>
                                    <th>Class</th>
                                    <th>Co-teachers</th>
                                    <th>View/Edit</th>
                                    <th>Create Assignment</th>
                                    <th>View Assignments</th>
                                    <th>Analytics</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                          <tbody>
                                  <% for (let i=0; i < data0.length; i++){ %>
                                    <tr>
                                      <td><%= data0[i].class_name %></td>
                                      <td><%= data0[i].co_teachers %></td>
                                      <td><a href="/teacher/viewclass/<%= data0[i].class_id %>?class_name=<%=data0[i].class_name%>"><img src="https://cdn-icons-png.flaticon.com/128/4696/4696561.png" alt="View Class" width="24" height="24"></a></td>
                                      <td><a href="/teacher/assigntask?class_name=<%= data0[i].class_name %>&class_id=<%=data0[i].class_id%>"><img src="https://cdn-icons-png.flaticon.com/512/2098/2098402.png" class="center" data-toggle="modal" data-target="#assigntaskmodel" alt="Assign Task" width="24" height="24" ></a></td>
                                      <td><a href="/teacher/viewtask/<%= data0[i].class_id %>?class_name=<%=encodeURIComponent(data0[i].class_name)%>"><img src="https://cdn-icons-png.flaticon.com/128/8347/8347446.png" class="center" alt="View Task" width="24" height="24"></a></td>
                                      <td><a href="/teacher/analytics?class_name=<%=data0[i].class_name%>&class_id=<%=data0[i].class_id%>"><img src="https://cdn-icons-png.flaticon.com/512/1548/1548914.png" class="center" data-toggle="modal" data-target="#assigntaskmodel" alt="Analytics" width="24" height="24"></a></td>
                                      <td> <form action="/teacher/class/delete" method="POST">
                                        <input type="hidden" name="classname"  value="<%= data0[i].class_id %>">
                                        <button type="button" id="delete" class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#delete-<%= data0[i].class_id %>" style="border: none; background: none;"><img src="https://cdn-icons-png.flaticon.com/512/2907/2907762.png" alt="Icon" width="24" height="24"></button>
                                      </form>
                                      
                                      
                                      
                                    <!-- Delete Modal Class -->
                                    <div class="modal fade " id="delete-<%= data0[i].class_id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete-modal-label-<%= data0[i].class_id %>" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="delete-modal-label-<%= data0[i].class_id %>"   style="color: red;">Warning!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body text-center">
                                                <h5>Are you sure you want to delete  <%= data0[i].class_name %></h5>
                                                <form action="/teacher/class/delete" method="post">
                                                  <input type="hidden" name="class_id" id="class_id" value="<%= data0[i].class_id %>">
                                                  <br>
                                                  <button type="Submit" class="btn btn-primary">Delete</button>
                                                  </form> 
                                          </div>
                                          
                                        </div>
                                      </div>
                                    </div> 
                                      <!-- Delete Modal Class --></td>
                                    </tr> 
                                  <% } %>
                          </tbody>
                    </table>
              </div>
            </div>
           </div>
           <!-- Table -->
        </div>
    </div>
</div>
<!-- <h3>bottom</h3> -->
<!-- Delete Modal Class -->
<div class="modal fade " id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label"   style="color: red;">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
            <h5>Are you sure you want to delete</h5>
            <form action="/teacher/deleteclass" method="GET">
              <input type="hidden" name="classname" id="classname" >
              <br>
              <button type="Submit" class="btn btn-primary">Delete</button>
              </form> 
      </div>
    </div>
  </div>
</div> 
<!-- Delete Modal Class --> 

    

<!-- Class Creation Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create Class</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/teacher" method="POST">
         
          <div class="form-group row">
            <label for="classname1" class="col-sm-4 col-form-label">Class Name<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" name="classname1" id="classname1" class="form-control"  placeholder="Class Name" required onchange="checkClassName()">
              <div class="invalid-feedback">
                Please enter a class name.
              </div>
            </div>
          </div>
          
          
          <div class="form-group row">
            <label for="teachername" class="col-sm-4 col-form-label">Co-Teacher Name/Email</label>
            <div class="col-sm-8">
              <select style="width: 300px;" name="teachername[]" id="teachername" class="form-control select2" multiple>
               
                <option value=" "  disabled >Select Co-Teacher</option>
                <% for (let i=0; i < data1.length; i++){ %>
                  <% if(data1[i].user_id != user.user_id){ %>
                  <option value="<%= data1[i].user_id %>"><%= data1[i].user_name %>, <%= data1[i].user_email %></option>
                  <% } %>
                <% } %>
              </select>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="Submit" id="createclass" class="btn btn-primary" >Create</button>
          </div>
         
          </form>
      </div>
      
    </div>
  </div>
</div>
<!-- Class Creation Modal -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div style="flex-grow:1"></div>

<%- include('t_footer.ejs') %>
</body>

</html>