<!DOCTYPE html>
<html lang="en">
  <%- include('t_head.ejs') %>
<body>
    <style>
        body{
          background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
          
        }
  
      </style>
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/teacher">Exam Study Tool</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="border-left: 1px solid darkgray; " id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" style="padding-left: 15px;color: blue;" aria-current="page" href="/teacher">Class</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " style="padding-left: 15px;" aria-current="page" href="/teacher/questions">Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teacher/status" >Status</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/teacher/profile"><i
                                style="padding-right: 4px;" class="fa fa-user"></i><%= user.user_name %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</header>
<script>
    $(document).ready(function () {
     
         $('#example1').dataTable({
            order: [[0, 'asc']],
        });
        
    });
</script>
<div class="row">
    <div class="col">
        <div class="col">
            <a href="/teacher/viewclass/<%=class_id%>?class_name=<%=class_name%>" >  <button class="btn btn-dark"; type="button" >
              <i class="fa fa-arrow-left"> </i>
            </button>
            </a>
        </div>
            <div class="col-12"><h4 style="text-align: center;">"<%=student_name%>" Analytics</h4></div>
    </div>
</div>
  <style>
    hr.dotted {
      border-top: 3px dotted #bbb;
    }
</style>  
<hr class="dotted"> 
  <br><br>

    <div class="container-xl">
    <div class="row">
        <div class="col shadow p-3 mb-5 bg-white rounded">
          
        
          <br>
          <!-- Table -->
          <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="display" id="example1"  style="width:100%">
          
                        <thead>
                              <tr>
                                  <th>Assignment Name</th>
                                  <th>View</th>
                                  <th>Date Assigned</th>
                                  <th>Due Date</th>
                                  <th>Score</th>
                                 
                                 
                              </tr>
                          </thead>
                          
                          <tbody>
                            <% for (let i=0; i < data0.length; i++){ %>
                            <tr>
                              <td><%=data0[i].test_name%></td>
                              <% if(data0[i].score!=null){ %>
                              <td><a href="/teacher/studentanalytics/<%= data0[i].test_id %>/<%=class_id%>/<%=data0[i].assigned_questions_id%>?user_id=<%=student_id%>&test_name=<%=data0[i].test_name%>&user_name=<%=student_name%>&class_name=<%=class_name%>"><img src="https://cdn-icons-png.flaticon.com/128/8347/8347446.png" class="center" alt="View Task" width="24" height="24"></a></td>
                              <%}else{%>
                                <td><a href="#" onclick="alert('This test has not been attempted.'); return false;"><img src="https://cdn-icons-png.flaticon.com/128/8347/8347446.png" class="center" alt="View Task" width="24" height="24"></a></td>
                                <%}%>
                              <td><%=data0[i].created_date%></td>
                              <td><%=data0[i].due_date%></td>
                                 <% if(data0[i].score!=null){ %>
                              <td><%=data0[i].score%></td>
                                <%}else{%>
                                <td>Not Attempted</td>
                                <%}%>
                              
                             
                            </tr>
                            <% } %>
                          </tbody>
                          
                      
                  </table>
              </div>
            </div>
           </div>
           <!-- Table -->
        </div>
    </div>
    </div>




 
   
    <br><br><br>
    <div style="flex-grow:1"></div>
    <%- include('t_footer.ejs') %>
</body>



</html>